@import './utils/colors';
@import './utils/breakpoints';


.gallery{

  display: flex;
  flex-wrap: wrap;
 gap: 30px;
}

.list-news-card__btn-add-remove{
  display: inline-block;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.36;
  color: $color-text;
  min-width: 126px;
  min-height: 28px;
  background-color: $color-background;
  border-radius: 20px;
  display: flex;

  align-items: center;
  padding: 6px 12px;
  position: absolute;
  top: 355px;
  left: 112px;

  @media screen and (min-width: $tablet) {
      top: 355px;
      left: 173px;
  }

  @media screen and (min-width: $desktop) {
      left: 215px;
  }
}

.list-news-card__btn-add-remove--text {
  font-size: 12px;
  line-height: 1.36;
  font-weight: 500;
  color: $color-text;
  white-space: nowrap;
}