@import '~node_modules/modern-normalize/modern-normalize.css';
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&display=swap");
body {
  background-color: #ffffff;
  color: #111321;
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  line-height: 1.37;
  min-width: 320px;
}
@media screen and (min-width: 768px) {
  body {
    font-size: 16px;
    line-height: 1.38;
  }
}

h1,
h2,
h3,
ul,
p {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

picture {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
}
@media screen and (min-width: 320px) {
  .container {
    width: 320px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
  }
}

.section {
  padding: 24px 0 60px;
}
.section__favorite {
  padding-top: 40px;
}
.section__read {
  padding: 40px 0 140px;
}
@media screen and (min-width: 768px) {
  .section {
    padding: 28px 0 100px;
  }
  .section__favorite {
    padding: 48px 0 100px;
  }
  .section__read {
    padding: 48px 0 180px;
  }
}
@media screen and (min-width: 1280px) {
  .section {
    padding: 28px 0 100px;
  }
  .section__favorite {
    padding: 60px 0 300px;
  }
  .section__read {
    padding: 60px 0 210px;
  }
}

button {
  border: 0;
  padding: 0;
}

.page-header {
  min-width: 320px;
}
@media screen and (min-width: 768px) and (min-width: 1280px) {
  .page-header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }
}

.navigation__logo {
  padding-top: 28px;
  padding-bottom: 28px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.4;
  color: inherit;
}
@media screen and (min-width: 768px) {
  .navigation__logo {
    font-size: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .navigation__logo {
    font-size: 42px;
  }
}

@media screen and (min-width: 768px) {
  .navigation {
    display: flex;
    align-items: baseline;
    padding-top: 32px;
    padding-bottom: 28px;
  }
}
@media screen and (min-width: 1280px) {
  .navigation {
    padding-top: 28px;
    padding-bottom: 28px;
    padding-left: 16px;
  }
}
.navigation__list {
  color: inherit;
}
@media screen and (min-width: 768px) {
  .navigation__list {
    display: flex;
    margin-right: 32px;
    margin-left: 48px;
    font-weight: 700;
  }
}
@media screen and (min-width: 1280px) {
  .navigation__list {
    margin-right: 147px;
    margin-left: 102px;
  }
}
@media screen and (min-width: 768px) {
  .navigation__item:not(:first-child) {
    margin-left: 44px;
  }
}
@media screen and (min-width: 1280px) {
  .navigation__item:not(:first-child) {
    margin-left: 69px;
  }
}
@media screen and (min-width: 768px) and (min-width: 1280px) {
  .navigation__link {
    display: block;
    position: relative;
  }
}
@media screen and (min-width: 768px) and (min-width: 1280px) {
  .navigation .active::after {
    content: "";
    position: absolute;
    bottom: -8px;
    left: -10%;
    width: 120%;
    height: 0px;
    background-color: #4440f6;
    border: 1px solid #4440f7;
    display: block;
  }
}

.search-field {
  margin-left: auto;
  display: flex;
  background-color: transparent;
  height: 31px;
}
@media screen and (min-width: 768px) {
  .search-field {
    border: 1px solid #111321;
    border-radius: 20px;
    margin-top: 44px;
    margin-bottom: 31px;
    width: 213px;
  }
}
@media screen and (min-width: 1280px) {
  .search-field {
    margin: 0 auto;
    width: 288px;
    margin-top: 51px;
    margin-bottom: 31px;
  }
}
.search-field input {
  font-family: "Poppins";
  font-size: 12px;
  line-height: 1.75;
  letter-spacing: 0.02em;
  color: #111321;
  border: none;
  background: none;
  outline: none;
}
.search-field input:focus {
  color: var(color-text);
}
.search-field input:-webkit-autofill, .search-field input:-webkit-autofill:hover, .search-field input:-webkit-autofill:focus, .search-field input:-webkit-autofill:active {
  -webkit-transition: background-color 9999s, color 9999s;
  transition: background-color 9999s, color 9999s;
}
.search-field input:autofill, .search-field input:autofill:hover, .search-field input:autofill:focus, .search-field input:autofill:active {
  transition: background-color 9999s, color 9999s;
}
@media screen and (max-width: 768px) {
  .search-field input {
    padding: 0;
    transition: 0.4s;
    width: 0;
  }
}
@media screen and (min-width: 768px) {
  .search-field input {
    padding: 5px 0;
    font-size: 14px;
    line-height: 1.7142857143;
  }
}
@media screen and (max-width: 768px) {
  .search-field:hover {
    margin-top: 1px;
    border: 1px solid #111321;
    border-radius: 20px;
  }
  .search-field:hover input {
    width: 125px;
    padding: 8px 0;
  }
  .search-field:hover .search-field__btn {
    padding: 6px 16px 5px 12px;
  }
}

@media screen and (max-width: 768px) {
  .search-field__btn {
    color: #111321;
    transition: 0.4s;
  }
}
@media screen and (min-width: 768px) {
  .search-field__btn {
    padding: 8px 19px 8px 14px;
  }
}

.search__icon {
  fill: var(#111321);
}

body.light-theme {
  background-color: #ffffff;
  color: #111321;
}

body.light-theme .theme-switch__icon--light {
  fill: #4b48db;
}

body.light-theme .theme-switch__text--light {
  color: #4b48db;
}

body.dark-theme {
  background-color: #111321;
  color: #f4f4f4;
}

body.dark-theme .theme-switch__icon--dark {
  fill: #4b48db;
}

body.dark-theme .theme-switch__text--dark {
  color: #4b48db;
}

body.dark-theme .theme-switch__control {
  border-color: #ffffff;
}

body.dark-theme .theme-switch__track {
  background-color: #4b48db;
}

body.dark-theme .theme-switch__marker {
  background-color: #ffffff;
}

.theme-switch {
  display: flex;
  align-items: center;
}

.theme-switch__icon {
  display: block;
  fill: #5f6775;
  height: 21px;
  width: 21px;
}
@media screen and (min-width: 1280px) {
  .theme-switch__icon {
    display: none;
  }
}

.theme-switch__text {
  display: none;
  color: #5f6775;
  font-size: 18px;
  line-height: 1.33;
}
@media screen and (min-width: 1280px) {
  .theme-switch__text {
    display: block;
  }
}

.theme-switch__control {
  display: flex;
  align-items: center;
  position: relative;
  width: 40px;
  height: 20px;
  border-radius: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: #4b48db;
  margin-right: 8px;
  margin-left: 8px;
}
@media screen and (min-width: 1280px) {
  .theme-switch__control {
    margin-right: 12px;
    margin-left: 12px;
  }
}

.theme-switch__toggle {
  position: absolute;
  height: 0;
  width: 0;
}

.theme-switch__track {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: inherit;
  border-radius: inherit;
  z-index: 1;
  cursor: pointer;
}

.theme-switch__marker {
  background-color: #4b48db;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  z-index: 2;
  pointer-events: none;
  transform: translateX(1px);
}

.theme-switch__toggle:checked ~ .theme-switch__marker {
  transform: translateX(21px);
}

footer {
  height: 120px;
  background-color: #7a7a7a;
}
@media screen and (min-width: 768px) {
  footer {
    height: 146px;
  }
}

.bad-request {
  text-align: center;
  align-content: center;
  justify-content: center;
  margin-bottom: 59px;
}
@media screen and (min-width: 1280px) {
  .bad-request {
    margin-top: 15px;
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1280px) {
  .bad-request {
    margin-top: 48px;
    margin-bottom: 101px;
  }
}
.bad-request--hidden {
  display: none;
}

.bad-request__title {
  font-family: Manrope;
  font-weight: 700;
  color: #111321;
  font-size: 20px;
  line-height: 27px;
}
@media screen and (min-width: 768px) and (max-width: 1280px) {
  .bad-request__title {
    font-size: 40px;
    line-height: 55px;
  }
}
@media screen and (min-width: 1280px) {
  .bad-request__title {
    font-size: 40px;
    line-height: 55px;
  }
}

.bad-request__default-picture {
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 248px;
  height: auto;
}
@media screen and (min-width: 768px) and (max-width: 1280px) {
  .bad-request__default-picture {
    width: 270px;
  }
}
@media screen and (min-width: 1280px) {
  .bad-request__default-picture {
    width: 350px;
  }
}/*# sourceMappingURL=index.css.map */