@import './utils/colors';
@import './utils/breakpoints';
@import './utils/common';
@import './components/header';
@import './components/burger-menu';
@import './components/theme_switcher';
@import './components/weather';
@import './components/calendar';
@import './components/footer';
@import './components/categories';
@import './components/bad-reguest';
@import './components/main';

