$color-background: rgba(244, 244, 244, 1);
$color-background-dark: #686868;
$color-label-background: rgba(68, 64, 247, 0.7);
$color-text: #111321;
$color-text-dark: #f4f4f4;
$color-text-already-read: #00dd73;
$color-text-link: #4440f7;
$color-button-hover: #4440f6;
$color-button-border: #4b48db;
$color-svg-fill: #4b48da;
$color-text-date: #a8a8a8;
$color-date: #020202;
$color-read-divider: #929292;
$color-header-divider: rgba(0, 0, 0, 0.2);
$color-footer-background: #7a7a7a;
$color-themeSwitcher-active: #4b48db;
$color-themeSwitcher-passive: #5f6775;
$burger-menu-color: #515758;
$color-background-categories: #f8f8f8;
