<div class="modal burger__is-hidden">
    <button class="modal__close-button">
        <svg class="burger-button__icon" width="24" height="24">
          <use href="./images/icons.svg#icon-cross"></use>
        </svg>
    </button>
    <div>
        <a class="modal__logo" href="./index.html">News</a>
        <ul class="modal__list">
            <li class="modal__item">
                <a class="modal__link" href="./index.html">
                    <div class="modal-link__group">     
                        <svg class="modal-link__image" width="32px" height="32px">
                            <use href="./images/icons.svg#icon-home-color"></use>
                        </svg>
                        <span class="modal-link__text">Home</span>
                    </div>
                    <svg class="modal-link__pointer" width="24px" height="24px">
                        <use href="./images/icons.svg#icon-chevron-right"></use>
                    </svg>
                </a>
            </li>

            <li class="modal__item">
                <a class="modal__link" href="./favorite.html">
                    <div class="modal-link__group">     
                        <svg class="modal-link__image" width="32px" height="32px">
                            <use href="./images/icons.svg#icon-heart-color"></use>
                        </svg>
                        <span class="modal-link__text">Favorite</span>
                    </div>
                    <svg class="modal-link__pointer" width="24px" height="24px">
                        <use href="./images/icons.svg#icon-chevron-right"></use>
                    </svg>
                </a>
            </li>

            <li class="modal__item">
                <a class="modal__link" href="./read.html">
                    <div class="modal-link__group">     
                        <svg class="modal-link__image" width="32px" height="32px">
                            <use href="./images/icons.svg#icon-book"></use>
                        </svg>
                        <span class="modal-link__text">Read</span>
                    </div>
                    <svg class="modal-link__pointer" width="24px" height="24px">
                        <use href="./images/icons.svg#icon-chevron-right"></use>
                    </svg>
                </a>
            </li>
        </ul>
    </div>
    <div class="modal__theme-switcher">
        <include src="./partials/theme_switcher.html"></include>
    </div>
</div>