<div class="cont">
<div class="calendar">
    <input
      class="calendar__input"
      type="text"
      name="calendar"
      placeholder="Select a date..."
    />
    <svg class="calendar__icon calendar__icon--calendar">
        <use href="./images/icons.svg#calendar"></use>
    </svg>
    <svg class="calendar__icon calendar__icon--up is-hidden">
        <use href="./images/icons.svg#icon-up"></use>
    </svg>
    <svg class="calendar__icon calendar__icon--down">
        <use href="./images/icons.svg#icon-down"></use>
    </svg>
    <div class="calendar__overlay">
        
    </div>
</div>
</div>
