<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

 <div class="container">

<ul class="categories_ul">
    
    <li class="other_li"> <button type="button" class="categories_button "><span class="as">Others</span> <svg viewBox = "0 0 100 100" width="8px" height="14px" class="icon">
        <use xlink:href="./images/categories.svg#category"></use>
       </svg></button>
   

 
    <ul class="special"></ul>
    
 </div>  
       
    </li>
</ul>

    
    

   <script src="./categories.js"></script> 
</body>

</html>