<header class="page-header">
  <div class="page-header__container container">
    <nav class="navigation">
      <a class="navigation__logo" href="./index.html">News</a>
      <ul class="navigation__list">
        <li class="navigation__item">
            <a class="navigation__link navigation__link--active" href="./index.html">Home</a>
        </li>
        <li class="navigation__item">
            <a class="navigation__link" href="./favorite.html">Favorite</a>
        </li>
        <li class="navigation__item">
            <a class="navigation__link" href="./read.html">Read</a>
        </li>
      </ul>

    <!-- <form>
        <input type="text">
    </form>  -->
    </nav>
  </div>
</header>
