<main>
    <section class="section">
        <div class="container">
            <div class="main__menu">
                <include src="./partials/categories.html"></include>

                <include src="./partials/calendar.html"></include>
            </div>
            <include src="./partials/badrequest.html"></include>

            <!-- <div class="container-news-card container"> -->
            <ul class="list-news-card"></ul>
            <!-- </div> -->

            <ul class="paginator"></ul>
        </div>
    </section>
</main>
