<main>
    <section class="section">
        <div class="container">
            <div class="main__menu">
                <include src="./partials/categories.html"></include>
                <include src="./partials/calendar.html"></include>
            </div>

            <!-- <div class="container-news-card container"> -->
            <ul class="list-news-card"></ul>
            <!-- </div> -->

            <ul class="list-news"></ul>
        </div>
    </section>

    <!-- <section>
        <div class="container">
            <include src="./newslist.html"></include>
        </div>
    </section> -->

    <!-- <section class="section bad-request .bad-request--hidden">
        <div class="container"> -->
    <include src="./partials/badrequest.html"></include>
    <!-- </div>
    </section> -->
</main>
