<main>
    <section class="section">
        <div class="container">
            <div class="main__menu">
                <include src="./partials/categories.html"></include>
                <include src="./partials/calendar.html"></include>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <include src="./partials/newslist.html"></include>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <include src="./partials/badrequest.html"></include>
        </div>
    </section>
</main>
