<div class="modal">
    <div class="modal-content">

        <div class="modal-nav">
            <a class="navigation__logo" href="./index.html">News</a>
            <span class="close-modal">
                <div class=" menu-burger__header open-menu">
                <span> </span>
            </div>
        </span>
        </div>

        <ul class="navigation__list-modal">
            <li class="navigation__item">
                <svg class="nav__img" width="32px" height="32px">
                    <use href="./images/icons.svg#icon-home-color"></use>
                </svg>
                <a class="navigation__link home" href="./index.html">Home</a>
                <svg class="nav__pointer" width="24px" height="24px">
                    <use href="./images/icons.svg#icon-chevron-right"></use>
                </svg>
            </li>
            <li class="navigation__item">
                <svg class="nav__img" width="32px" height="32px">
                    <use href="./images/icons.svg#icon-heart-color"></use>
                </svg>
                <a class="navigation__link favorite" href="./favorite.html">Favorite</a>
                <svg class="nav__pointer" width="24px" height="24px">
                    <use href="./images/icons.svg#icon-chevron-right"></use>
                </svg>
            </li>
            <li class="navigation__item">
                <svg class="nav__img" width="32px" height="32px">
                    <use href="./images/icons.svg#icon-book"></use>
                </svg>
                <a class="navigation__link read" href="./read.html">Read</a>
                <svg class="nav__pointer" width="24px" height="24px">
                    <use href="./images/icons.svg#icon-chevron-right"></use>
                </svg>
            </li>
        </ul>

        <div class="theme-switch-modal">
            <svg class="theme-switch__icon theme-switch__icon--light">
                <use href="./images/icons.svg#icon-sun"></use>
            </svg>
            <p class="theme-switch__text theme-switch__text--light">Light</p>
        
            <div class="theme-switch__control">
                <input class="theme-switch__toggle" type="checkbox" name="theme" id="theme-switch-toggle" />
                <label class="theme-switch__track" for="theme-switch-toggle">
                </label>
                <div class="theme-switch__marker"></div>
            </div>
        
            <svg class="theme-switch__icon theme-switch__icon--dark">
                <use href="./images/icons.svg#icon-moon"></use>
            </svg>
            <p class="theme-switch__text theme-switch__text--dark">Dark</p>
        </div>
    </div>
    
</div>