<div class="page-container pagination-hidden pagination">
    <div class="pagin">

        <button class="prev-page" disabled>
            <a > <span class="s_prew">Prew</span></a>
        </button>
        <div id="pagination">
            <!-- <li class="pg-item" id="1"><a class="pg-link">1</a></li>
            <li class="pg-item" id="2"><a class="pg-link">2</a></li>
            <li class="pg-item" id="3"><a class="pg-link">3</a></li> -->
        </div>
        <button class="next-page">
            <a >Next<span class="s_next"><span></a>
        </button>

    </div>
</div>