<div class="theme-switch">
    <svg class="theme-switch__icon" role="img" aria-label="Sun">
      <use href="./images/icons.svg#icon-sun"></use>
    </svg>
    <p class="theme-switch__text">Light</p>

    <div class="theme-switch__control">
      <input
        class="theme-switch__toggle"
        type="checkbox"
        name="theme"
        id="theme-switch-toggle"
        aria-label="Переключить между тёмной и светлой темой"
      />
      <label
        aria-hidden="true"
        class="theme-switch__track"
        for="theme-switch-toggle"
      >
      </label>
      <div aria-hidden="true" class="theme-switch__marker"></div>
    </div>

    <svg class="theme-switch__icon" aria-label="Moon">
      <use href="./images/icons.svg#icon-moon"></use>
    </svg>
    <p class="theme-switch__text">Dark</p>
  </div>