  <div class="theme-switch">
    <svg class="theme-switch__icon theme-switch__icon--light">
      <use href="./images/icons.svg#icon-sun"></use>
    </svg>
    <p class="theme-switch__text theme-switch__text--light">Light</p>

    <div class="theme-switch__control">
      <input
        class="theme-switch__toggle"
        type="checkbox"
        name="theme"
        id="theme-switch-toggle"
      />
      <label
        class="theme-switch__track"
        for="theme-switch-toggle"
      >
      </label>
      <div class="theme-switch__marker"></div>
    </div>

    <svg class="theme-switch__icon theme-switch__icon--dark">
      <use href="./images/icons.svg#icon-moon"></use>
    </svg>
    <p class="theme-switch__text theme-switch__text--dark">Dark</p>
  </div>