@media screen  and (max-width: 767px)  {

    .page-header {
        border-bottom: 1px solid $color-header-divider;
    }

    
    .navigation__item:hover {
        background-color: $color-text-link;
       
    }


    li:hover a {
        color: $color-background;
    }

    .navigation__item:hover .nav__img {
       border: 1px solid $color-background;
       border-radius: 50%;
       background-color: $color-background;
    }
    
    .nav__pointer {
        display: none;
        }
    
    .navigation__item:hover .nav__pointer {
        display: block;
        margin-left: auto;
        }

    .navigation__link {
        padding-left: 14px;
    }

    .container {
        
        height: 100%;
        margin: 0;
        display: flex;
        align-items: center;
        padding: 0;  
        width: 100%;
        
    }

    .navigation {
        display: flex;
        align-items: center;
        height: 81px;
        width: 288px;
    }

    .navigation__logo {
        padding: 0;
        margin-left: 16px;
       
    }

    .navigation__list {
        display: none;
     
    }

    .navigation__item {
        
        font-size: 16px;
        padding: 11px 16px;
        display: flex;
        align-items: center;
    }

    .menu-burger__header {
        position: relative;
        margin-bottom: 8px;
        width: 18px;
        height: 18px;
        display: block;   
    }

    .menu-burger__header span,
    .menu-burger__header:after,
    .menu-burger__header:before {
        height: 2px;
        width: 100%;
        position: absolute;
        background: rgba(17, 19, 33, 1);
        margin: 0 auto;
    }

    .menu-burger__header span {
        top: 15px;
        margin-bottom: 0;
        margin-right: 16px;
    }


    .menu-burger__header:after,
    .menu-burger__header:before {
        content: '';

    }

    .menu-burger__header:after {
        bottom: 5px;
    }

    .menu-burger__header:before {
        top: 7px;
    }

  
    .menu-burger__header.open-menu span {
        
        opacity: 0;
        transition: 0.4s;
    }

    .menu-burger__header.open-menu:before {
        transform: rotate(47deg);
        top: 11px;
        transition: 0.4s;
    }

    .menu-burger__header.open-menu:after {
        transform: rotate(-47deg);
        transition: 0.4s;
    }

body.dark-theme .menu-burger__header span,
body.dark-theme .menu-burger__header:after,
body.dark-theme .menu-burger__header:before {
    background: $color-background;
    
}

.search-form {
    margin-right: 20px;
    margin-left: 0;
}


 


.modal {
   
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: inherit;
    transition: top 0.5s ease-in-out;
}


.modal-content {
    width: 100%;
    padding-right: 16px;
    height: 100%;
    background-color: inherit;
}

.close-modal {
    display: flex;
    margin-left: auto;
   
 }

.theme-switch-modal {
    display: flex;
    position: absolute;
    top: 529.5;
    left: 17.14;
}

.navigation__list-modal {
    margin-top: 101px;
}

.modal-nav {
    
    width: 356px; 
    padding: 16px 24px;
    display: flex;
    align-items: baseline;
    justify-content: space-between;

}

.nav-item{
    width: 320px;
    align-items: center;
    display: flex;
}

.modal-nav__container {
    width: 320px;
    display: flex;
    align-items: center;
}

.modal-nav__logo {
    margin: 0;
}

.show-modal {
    top: 0;
}


}