@media screen and (min-width: $tablet) {

    .nav__img,
    .nav__pointer {
        display: none;
        
    }
}
   

@media screen and (min-width: $mobile) and (max-width: 767px)  {

        
    .theme-switch {
        position: absolute;
        bottom: 20.5px;
        left: 16px;
    }

    .navigation__item:hover {
        background-color: $color-text-link;

    }


    li:hover a {
        color: $color-background;
    }

    .nav__img {

        border: 1px solid $color-background;
        border-radius: 50%;
        background-color: $color-background;

    }
    
         .nav__pointer {
             margin-left: auto;
             
    
         }




    .navigation__link {
        padding-left: 14px;


    }


    .container {
        
        height: 100%;
        margin: 0;
        display: flex;
        align-items: center;
        padding: 0;
     
        width: 100%;
        
    }


    .navigation {
        display: flex;
        align-items: center;
        height: 81px;
        width: 288px;
    }

    .navigation__logo {
        padding: 0;
        margin-left: 16px;
       
    }


    .navigation__list {
        flex-direction: column;
        position: fixed;
        top: -100%;
        transition: all 0.4s ease;
    }

    .navigation__list.open-menu {

        margin-top: 125px;
        top: 0;
        width: 100%;
        height: 100%;
        transition: all 0.4s ease;
        position: absolute;

    }

   

    .navigation__item {
        

        padding: 11px 16px;
        display: flex;
        align-items: center;
    }

    .menu-burger__header {
        position: relative;
        margin-bottom: 8px;
        margin-right: 16px;
        width: 18px;
        height: 18px;
        display: block;
       

    }

    .menu-burger__header span,
    .menu-burger__header:after,
    .menu-burger__header:before {
        height: 2px;
        width: 100%;
        position: absolute;
        background: $burger-menu-color;
        margin: 0 auto;
    }

    .menu-burger__header span {
        top: 15px;
    }


    .menu-burger__header:after,
    .menu-burger__header:before {
        content: '';

    }

    .menu-burger__header:after {
        bottom: 5px;
    }

    .menu-burger__header:before {
        top: 7px;
    }

    .menu-burger__header.open-menu {
        left: 0;
    }

    .menu-burger__header.open-menu span {
        opacity: 0;
        transition: 0.4s;
    }

    .menu-burger__header.open-menu:before {
        transform: rotate(47deg);
        top: 11px;
        transition: 0.4s;
    }

    .menu-burger__header.open-menu:after {
        transform: rotate(-47deg);
        transition: 0.4s;
    }

    

  

body.dark-theme .menu-burger__header span,
body.dark-theme .menu-burger__header:after,
body.dark-theme .menu-burger__header:before {
    background: $color-background;
    
}

.search-form {
    margin-right: 20px;
}
.nav__switcher.open-menu {
    display: block;
}

}

