.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    width: 100%;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $color-background;
    padding: 24px 0 18px;

    transform: translateY(0);
    transition: transform 400ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width: $tablet) {
        display: none;
    }
}
  
.modal.burger__is-hidden {
    transform: translateY(-100%);
}

body.dark-theme .modal {
    background-color: $color-background-dark;
}

.modal__close-button {
    position: absolute;
    top: 28px;
    right: 16px;
    background-color: inherit;
    cursor: pointer;
}

.modal__logo {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.4;
    margin-left: 16px;
}

.modal__list {
    margin-top: 68px;
}

.modal__item {
    padding: 6px 16px;
    font-size: 16px;
}

.modal__item:not(:last-child) {
    margin-bottom: 18px;
}
    
.modal__item:hover,
.modal__item:focus {
    background-color: $color-text-link;
    color: $color-background;
}

.modal__link {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-link__group {
    display: flex;
    align-items: center;
}

.modal__item:hover .modal-link__image,
.modal__item:focus .modal-link__image {
    border: 1px solid $color-background;
    border-radius: 50%;
}
    
.modal-link__text {
    padding-left: 14px;
}

.modal-link__pointer {
    display: none;
}
    
.modal__item:hover .modal-link__pointer,
.modal__item:focus .modal-link__pointer {
    display: block;
}

.modal__theme-switcher {
    margin-left: 16px;
}