.page-header {
    min-width: $mobile;
    @media screen and (min-width: $tablet) {
        border-bottom: 1px solid $color-header-divider;
    }
}

.navigation__logo {
    padding-top: 28px;
    padding-bottom: 28px;

    font-family: inherit;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.4;
    color: inherit;

    @media screen and (min-width: $tablet) {
        font-size: 32px;
    }

    @media screen and (min-width: $desktop) {
        font-size: 42px;
    }
}

.navigation {
    display: none;
    @media screen and (min-width: $tablet) {
        display: flex;
        align-items: baseline;
        padding-top: 32px;
        padding-bottom: 28px;
    }

    @media screen and (min-width: $desktop) {
        padding-top: 28px;
        padding-bottom: 28px;
        padding-left: 16px;
    }

    &__list {
        color: inherit;
        @media screen and (min-width: $tablet) {
            display: flex;
            margin-right: 32px; 
            margin-left: 48px;
            font-weight: 700;
            font-family: inherit;
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 1.4;      
        } 
        @media screen and (min-width: $desktop) {
            margin-right: 147px;
            margin-left: 102px;
            font-family: inherit;
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 1.4;
        }
    }

    &__item {
        &:not(:first-child) {
            @media screen and (min-width: $tablet) {
                margin-left: 44px;
            }
            @media screen and (min-width: $desktop) {
                margin-left: 69px;
            }
        }
    }

    &__link {
        @media screen and (min-width: $tablet) {
            display: block;
            position: relative;
        }
    }

    .active {
        &::after {
            @media screen and (min-width: $tablet) {
                content: '';
                position: absolute;
                bottom: -8px;
                left: -10%;
                width: 120%;
                height: 0px;
                background-color: $color-button-hover;
                border: 1px solid $color-text-link;
                display: block;
            }
        }
    }
}

.search-form {
    margin-left: auto;
    display: flex;
    background-color: transparent;
    height: 31px;
    flex-direction: baseline;

    @media screen and (min-width: $tablet) {
        border: 1px solid$color-text;
        border-radius: 20px;
        margin-top: 44px;
        margin-bottom: 31px;
        width: 213px;
    }

    @media screen and (min-width: $desktop) {
        margin: 0 auto;
        width: 288px;
        margin-top: 51px;
        margin-bottom: 31px;
    }

    input {
        font-size: 12px;
        color: $color-text;
        border: none;
        background: none;
        outline: none;
        &:focus {
            color: $color-text;
        }

        @media screen and (max-width: $tablet) {
            padding: 0;
            transition: 0.4s;
            width: 0;
        }

        @media screen and (min-width: $tablet) {
            padding: 5px 0;
            font-size: 14px;
            line-height: calc(24 / 14);
        }
    }
    @media screen and (max-width: $tablet) {
        &:hover {
            margin-top: 1px;
            border: 1px solid$color-text;
            border-radius: 20px;
            input {
                width: 125px;
                padding: 8px 0;
            }

            .search-field__btn {
                padding: 6px 16px 5px 12px;
            }
        }
    }
}

.search-form__btn {
    background: transparent;
    cursor: pointer;

    @media screen and (max-width: $tablet) {
        color: $color-text;
        transition: 0.4s;
    }

    @media screen and (min-width: $tablet) {
        padding: 8px 19px 8px 14px;
    }
}

.search-form__icon {
    fill: $color-text;
}
