.container {
    padding: 0 16px;
    margin-top: 28px;

    @media screen and (min-width: $tablet) {
        margin-top: 48px;
        margin-bottom: 50px;
    }

    @media screen and (min-width: $desktop) {
        max-width: 1280;
        margin-top: 60px;
        margin-bottom: 60px;
    }
}

.list-news-card {
    @media screen and (min-width: $tablet) {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }
}

.list-news-card__item {
    flex-basis: calc((100% - 30px) / 2);
    position: relative;

    @media screen and (min-width: $desktop) {
        flex-basis: calc((100% - 60px) / 3);
    }
}

.list-news-card__item:not(:last-child) {
    margin-bottom: 28px;

    @media screen and (min-width: $tablet) {
        margin-bottom: 0;
    }
}

.list-news-card__item:last-child {
    margin-bottom: 40;
}

.list-news-card__img {
    width: 288px;
    height: 395px;
    margin-bottom: 20px;
    border-radius: 4px;

    @media screen and (min-width: $tablet) {
        width: 353px;
        height: 395px;
    }

    @media screen and (min-width: $desktop) {
        width: 395px;
        height: 395px;
    }
}

.list-news-card__category {
    position: absolute;
    top: 40px;
    right: 176px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 112px;
    height: 24px;
    border-radius: 0 4px 4px 0;
    opacity: 70%;
    background-color: $color-label-background;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.36;
    text-align: center;
    color: $color-background;

    @media screen and (min-width: $tablet) {
        right: 241px;
    }

    @media screen and (min-width: $desktop) {
        right: 283px;
    }
}

.listNewsCard__title {
    font-size: 24px;
    line-height: 1.36;
    font-weight: 700;
    color: $color-text;

    @media screen and (min-width: $tablet) {
        font-weight: 700;
        font-size: 32px;
        line-height: 1.37;
        color: $color-background-dark;
    }
}

.list-news-card__description {
    font-size: 14px;
    line-height: 1.36;
    color: $color-text;
    margin: 20px 0;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;

    @media screen and (min-width: $tablet) {
        font-size: 16px;
        line-height: 1.37;
        color: $color-background-dark;
        -webkit-line-clamp: 2;
    }
}

.list-news-card__newsDate {
    font-size: 14px;
    line-height: 1.36;
    color: $color-date;

    @media screen and (min-width: $tablet) {
        font-size: 16px;
        line-height: 1.37;
    }
}

.list-news-card__link-read-more {
    font-size: 14px;
    line-height: 1.36;
    color: $color-button-hover;

    @media screen and (min-width: $tablet) {
        font-size: 16px;
        line-height: 1.37;
    }
}

.container-news-list__date-read {
    display: flex;
    justify-content: space-between;
}

.list-news-card__add-favorite {
    display: inline-block;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.36;
    color: $color-text;
    min-width: 126px;
    min-height: 28px;
    background-color: $color-background;
    border-radius: 20px;
    display: flex;

    align-items: center;
    padding: 6px 12px;
    position: absolute;
    top: 355px;
    left: 155px;
    z-index: 99;

    @media screen and (min-width: $tablet) {
        top: 355px;
        left: 215px;
    }

    @media screen and (min-width: $desktop) {
        left: 257px;
    }
}

.hidden {
    display: none;
}

.list-news-card__add-favorite--svg {
    display: inline-block;
    width: 13px;
    height: 12px;
    margin-left: 5px;
}

.list-news-card__remove-favorite--svg {
    width: 13px;
    height: 12px;
    margin-left: 5px;
}

//
