// .main__menu {
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
// }

.page-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 60px;
    margin-top: 40px;
    font-family: Manrope;
    font-size: 14px;
    font-weight: 500;
    line-height: 19px;
    text-align: left;
    background-color: rgb(244, 244, 244);
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
    .page-container {
        height: 31px;
        margin-bottom: 100px;
        margin-top: 48px;
    }
}

@media screen and (min-width: 1280px) {
    .page-container {
        margin-bottom: 150px;
        margin-top: 60px;
    }
}

.pagin {
    display: flex;
    justify-content: center;
    height: 28px;
    width: 288px;
}

@media screen and (min-width: 768px) {
    .pagin {
        height: 31px;
        width: 415px;
    }
}

.page-container a {
    padding: 4px 12px;
    font-family: Manrope;
    font-size: 14px;
    font-weight: 500;
    color: #111321;
}

.pg-item {
    border: 1px solid #4440f6;
    border-radius: 2px;
}

.pg-item :hover,
.pg-item :focus {
    color: #f4f4f4;
    background-color: #4440f6;
}

.page-container button {
    display: flex;
    justify-content: center;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

button.prev-page,
button.next-page {
    width: 72px;
    font-family: Manrope;
    font-size: 14px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    border: 1px solid #4440f6;
    border-radius: 2px;
}

button.prev-page {
    margin-right: 6px;
}

button.next-page {
    margin-left: 6px;
}

.page-container button:disabled a {
    color: #111321;
    font-family: Manrope;
    font-size: 14px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
}

#pagination {
    display: flex;
    align-items: center;
}

#pagination li {
    list-style: none;
    cursor: pointer;
    overflow: hidden;
    margin: 0 4px;
}

#pagination li.active {
    background-color: #4440f6;
}

#pagination li.active a {
    color: #f4f4f4;
}

#pagination li a {
    text-decoration: none;
    padding: 4px auto;
    display: inline-block;
    font-family: Manrope;
    font-size: 14px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    pointer-events: none;
    color: #111321;
}

#pagination li:hover {
    background-color: #4440f6;
}

#pagination li:hover a {
    color: #f4f4f4;
    background-color: #4440f6;
}

.settings {
    padding-top: 3rem;
    display: flex;
    align-items: flex-start;
}

.settings .form-input {
    margin-bottom: 1rem;
}

.settings .form-input:not(:last-child) {
    margin-right: 10px;
}

.settings .form-input > label {
    margin-bottom: 10px;
}

.settings .form-input label {
    font-family: Manrope;
    font-size: 14px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    display: block;
}

.settings .form-input > input {
    width: 100%;
}

.settings .form-input input {
    font-size: 18px;
    outline: none;
    padding: 10px 17px;
    border: 1px solid #b6b6b6;
}

.settings .wrapper-form-check {
    display: flex;
}

.settings .wrapper-form-check .form-check {
    display: flex;
    line-height: 1;
    align-items: center;
}

.settings .wrapper-form-check .form-check:not(:last-child) {
    margin-right: 10px;
}

.settings .wrapper-form-check label {
    margin-left: 10px;
}

@media (max-width: 992px) {
    .settings {
        flex-direction: column;
    }
}

.s_prew {
    font-family: Manrope;
    font-size: 14px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
}

a.fas {
    height: 28px;
}

.page-container-cat {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 60px;
    margin-top: 40px;
    font-family: Manrope;
    font-size: 14px;
    font-weight: 500;
    line-height: 19px;
    text-align: left;
    background-color: rgb(244, 244, 244);
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
    .page-container-cat {
        height: 31px;
        margin-bottom: 100px;
        margin-top: 48px;
    }
}

@media screen and (min-width: 1280px) {
    .page-container-cat {
        margin-bottom: 150px;
        margin-top: 60px;
    }
}

.pagin-cat {
    display: flex;
    justify-content: center;
    height: 28px;
    width: 300px;
}

@media screen and (min-width: 768px) {
    .pagin-cat {
        height: 31px;
        width: 500px;
    }
}

.page-container-cat a {
    padding: 4px 12px;
    font-family: Manrope;
    font-size: 14px;
    font-weight: 500;
    color: #111321;
}

.page-container-cat a .pg-link-dot {
    padding: 1px 1px;
}

.page-container-cat a.pg-link-dot {
    padding: 0px 0px;
    font-family: Manrope;
    font-size: 14px;
    font-weight: 500;
    color: #111321;
}

.pg-item-cat {
    border: 1px solid #4440f6;
    border-radius: 2px;
}

.pg-item-cat :hover,
.pg-item-cat :focus {
    color: #f4f4f4;
    background-color: #4440f6;
}

.page-container-cat button {
    display: flex;
    justify-content: center;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

button.next-page-cat,
button.prev-page-cat {
    width: 72px;
    font-family: Manrope;
    font-size: 14px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    border: 1px solid #4440f6;
    border-radius: 2px;
}

button.prev-page-cat {
    margin-right: 6px;
}

button.next-page-cat {
    margin-left: 6px;
}

.page-container-cat button:disabled a {
    color: #111321;
    font-family: Manrope;
    font-size: 14px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
}

#pagination-cat {
    display: flex;
    align-items: center;
}

#pagination-cat li {
    list-style: none;
    cursor: pointer;
    overflow: hidden;
    margin: 0 4px;
}

#pagination-cat li.active {
    background-color: #4440f6;
}

#pagination-cat li.active a {
    color: #4440f6;
}

#pagination-cat li a {
    text-decoration: none;
    padding: 4px auto;
    display: inline-block;
    font-family: Manrope;
    font-size: 14px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    pointer-events: none;
    color: #111321;
}

#pagination-cat li:hover {
    background-color: #4440f6;
}

#pagination-cat li:hover a {
    color: #f4f4f4;
    background-color: #4440f6;
}

.settings-cat {
    padding-top: 3rem;
    display: flex;
    align-items: flex-start;
}

.settings-cat .form-input {
    margin-bottom: 1rem;
}

.settings-cat .form-input:not(:last-child) {
    margin-right: 3rem;
}

.settings-cat .form-input > label {
    margin-bottom: 10px;
}

.settings-cat .form-input label {
    font-family: Manrope;
    font-size: 14px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    display: block;
}

.settings-cat .form-input > input {
    width: 100%;
}

.settings-cat .form-input input {
    font-size: 18px;
    outline: none;
    padding: 10px 17px;
    border: 1px solid #b6b6b6;
}

.settings-cat .wrapper-form-check {
    display: flex;
}

.settings-cat .wrapper-form-check .form-check {
    display: flex;
    line-height: 1;
    align-items: center;
}

.settings-cat .wrapper-form-check .form-check:not(:last-child) {
    margin-right: 10px;
}

.settings-cat .wrapper-form-check label {
    margin-left: 10px;
}

@media (max-width: 992px) {
    .settings-cat {
        flex-direction: column;
    }
}

.s_prew-cat {
    font-family: Manrope;
    font-size: 14px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
}

.pagination-cat-hidden {
    display: none;
}

a.fas {
    height: 28px;
}

.pg-item-dot {
    margin-left: 0px;
    padding-left: 0px;
    padding-right: 0px;
    border: 0px solid #4440f6;
}
