body.light-theme {
  background-color: $color-background;
  color: $color-text;
}

body.light-theme .theme-switch__icon--light {
  fill: $color-text-link;
}

body.light-theme .theme-switch__text--light {
  color: $color-text-link;
}
    
body.dark-theme {
  background-color: $color-background-dark;
  color: $color-text-dark;
}

body.dark-theme .theme-switch__icon--dark {
  fill: $color-text-link;
}

body.dark-theme .theme-switch__text--dark {
  color: $color-text-link;
}

body.dark-theme .theme-switch__control {
  border-color: $color-background;
  
}

body.dark-theme .theme-switch__track {
  background-color: $color-text-link;
}

body.dark-theme .theme-switch__marker {
  background-color: $color-background;
  
}

.theme-switch {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.theme-switch__icon {
  display: block;
  fill: $color-text-date;
  height: 21px;
  width: 21px;

  @media screen and (min-width: $desktop) {
    display: none;
  }
}

.theme-switch__text {
  display: none;
  color: $color-text-date;
  font-size: 18px;
  line-height: 1.33;

  @media screen and (min-width: $desktop) {
    display: block;
  }
}

.theme-switch__control {
  display: flex;
  align-items: center;
  position: relative;
  width: 40px;
  height: 20px;
  border-radius: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: $color-text-link;
  margin-right: 8px;
  margin-left: 8px;

  @media screen and (min-width: $desktop) {
    margin-right: 12px;
    margin-left: 12px;
  }
}

.theme-switch__toggle {
  position: absolute;
  height: 0;
  width: 0;
}

.theme-switch__track {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: inherit;
  border-radius: inherit;
  z-index: 1;
  cursor: pointer;
}

.theme-switch__marker {
  background-color: $color-text-link;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  z-index: 2;
  pointer-events: none;
  transform: translateX(1px);
}

.theme-switch__toggle:checked ~ .theme-switch__marker {
  transform: translateX(21px);
}